<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="pscx" />
  <package id="notepadplusplus" />
  <package id="7zip" />
  <package id="sysinternals" />
  <package id="conemu" />
  <package id="fiddler4" />
  <package id="winmerge" />
  <package id="visualstudiocode" />
  <package id="golang" />
  <package id="expresso" />
  <package id="make" />
  <package id="editorconfig.core" />
  <package id="sql-server-management-studio" />
</packages>
